@import 'react-datepicker/dist/react-datepicker';
#root {
  width: 1200px;
  background-color: #232323;
}

.netfilx {
  position: absolute;
  top: 20px;
  left: 70px;
  color: #f65261;
}

.footer-container {
  display: flex;
  background: #424242;
  justify-content: center;
  height: 70px;
  align-items: center;
}

p {
  margin: 0px;
}
